/* 吹き出し本体*/
.advice {
  position: relative;
  display: inline-block;
  background: #fff;
  border-radius: 1.5rem;
  border: 2px solid #808080;
  box-sizing: border-box;
}

/* 吹き出し三角：背景用*/
.advice :before {
  content: "";
  position: absolute;
  display: block;
  top:16px;
  right: -1.43rem;
  /* transform: translateY(-50%); */
  border: 12px solid transparent;
  border-left: 12px solid #ffffff;
  z-index: 2;
}

/*吹き出し三角：枠線用*/
.advice :after {
  content: "";
  position: absolute;
  display: block;
  top:15.5px;
  right: -1.62rem;
  border: 12px solid transparent;
  border-left: 12px solid #808080;
  z-index: 1;
}
