.advice_box{
    border:#515151 1px solid;
    border-radius: 6px;
    background-color: whitesmoke;
    background-origin: padding-box;
    width: 80%;
    height: 10%;
    margin-left: 10%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    }