POSTGRES_USER=user
POSTGRES_PASSWORD=
POSTGRES_DB=hagudb
POSTGRES_PORT=5432
POSTGRES_HOST=127.0.0.1

LINE_LOGIN_CHANNEL_ID=2005716622
LINE_LOGIN_CHANNEL_SECRET=da4d1c643f0cf7e0da584f41a167e731
LINE_LOGIN_CALLBACK_URL=http://localhost:3000/api/callback